# build directories
cmake-build-*/
build/
out/
bin/
# rufaida for testing
test.txt
# imgui saved state
imgui.ini

# Since ".obj" are ignored by default, we force them to be added
!assets/models/**/*.obj

# Visual Studio specific files
CMakeSettings.json
.vs/
test.txt
# Clion specific files
.idea/

# Visual Studio Code specific files
.vscode/

# Screenshots
screenshots/

# Errors
errors/

vendor/irrKlang-64bit-1.6.0
vendor/irrKlang-64bit-1.6.0.zip
./test.txt
/test.txt
